/* Colours */

$bg-primary: #fbe800;
$bg-secondary: #66cc33;


/* Tipography */

$title-font: 'Lato', sans-serif;
$main-font: 'Saira Extra Condensed',sans-serif;

/* Font-size */

$text-extra: 70px;
$text-xxl: 45px;
$text-xl: 30px;
$text-l: 20px;
$text-m: 16px;
$text-s: 12px;
$text-xs: 10px;
