.colors{
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: space-around;
}
.primary{
  width: 100px;
  height: 100px;
  background-color: #fbe800;

}
.button-color{
  width: 100px;
  height: 100px;
  background-color: #66cc33;

}
.lato{
  font-family: 'Lato', sans-serif;
}
.saira{
  font-family: 'Saira Extra Condensed',sans-serif;
}

.extra{
  font-size: 70px;
}
.xxl{
  font-size: 45px;
}
.xl{
  font-size: 30px;
}
.l{
  font-size: 20px;
}
.m{
  font-size: 16px;
}
.s{
  font-size: 12px;
}
.xs{
  font-size: 10px;
}

.button{
  width: 100px;
  height: 60px;
  background-color: #66cc33;
  border: none;
  outline: none;
  color: white;
  transition: 0.75s linear;
  cursor: pointer;
  }
  .button:hover{
      background-color: #43911c;
    }

}
